.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    max-width: 270px;
    max-height: 435px;
    padding-bottom: 30px;
    border-radius: 9px;
    background-color: #fafafa;
}

.cardContainer:hover {
    background-color:#fff;
    transition: 0.3s;
}

.cardContainer > p {
    text-align: center;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    color: #545454;
}

.learnMoreButton {
    cursor: pointer;
    padding: 15px 45px;
    font-family: Georgia;
    font-weight: 400;
    letter-spacing: 0.06em;
    font-size: 17px;
    color: #292929;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: transparent;
}

.learnMoreButton:hover {
    border-color: transparent;
    background-color: #fddcc4;
    transition: 0.3s;
}